<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta name="description" content="Fab1dotovh.github.io : ">

 <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts 

<link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

-->
    

<title>{{site.title}} - {{page.title}}</title>
</head>
<body>
{% include header.html %}
<div class="contenu">
{{content}}
</div>

<footer>
{% include footer.html %}
</footer>
</body>
</html>
